$primary: #FC6D27;
$dark_primary: #CA4A0C;
$secondary: #FCA326;
$dark_grey:#464444;
$medium_grey: #817C7C;
$light_grey: #E7E7E7;

$success: #54F00A;
$success_bg: #aaf388;
$warning: #F0CB0A;
$warning_bg: #f6e48b;
$danger: #FF2300;
$danger_bg: #f3a89d;

$light_text: #fff;
$dark_text: #464444;
$background: #F9F9F9;

$shadow: 0px 0px 10px 2px $light_grey;
$border_radius: 10px;