$primary: #FC6D27;
$dark_primary: #CA4A0C;
$secondary: #FCA326;
$dark_grey:#464444;
$medium_grey: #817C7C;
$light_grey: #E7E7E7;

$success: #54F00A;
$warning: #F0CB0A;
$danger: #FF2300;

$light_text: #fff;
$dark_text: #464444;
$background: #F9F9F9;

$shadow: 0px 0px 5px 5px $light_grey;
$border_radius: 10px;