@import 'variables.scss';
@import 'pageview.styles.scss';

.about-page {
    h1 {
        padding-left: 2rem;
        color: $dark_grey;
    }
    .about-content {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}