@import 'variables.scss';
@import 'pageview.styles.scss';

.home {
    padding: 1rem;

    .home-header {
        .left {
            padding: .5rem;

            .title {
                font-size: 1.3rem;
            }

            .subtitle {
                color: $medium_grey;
            }

            .cta {
                display: flex;
                margin-top: 1rem;
                margin-bottom: 1rem;

                &>button {
                    margin: .3rem;
                }
            }
        }
    }

    .next-tasks {
        padding: .5rem;
        margin-top: 3rem;
        .section-title{
            font-size: 1.5rem;
            font-weight: bolder;
            padding: .2rem;
            margin-bottom: 1rem;
        }
    }
}

.task-count-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      ". ."
      ". .";
}
  