@import 'variables.scss';

@mixin inputSizing {
    box-sizing: border-box;
}

.form-field {
    outline: none;
    border: none;
    background-color: $light_grey;
    height: 3.5rem;
    width: 100%;
    border-radius: $border_radius;
    padding: 0rem 1.2rem;
    font-size: 1.1rem;
    font: unset;
    @include inputSizing();

    &:focus {
        border: 1px solid $secondary;
    }
}

.form-field-label {
    margin-left: 0.5rem;
}

.mandatory {
    color: $primary
}

textarea {
    resize: none;
    outline: none;
    overflow: auto;
    padding: 1rem 1.1rem;
    font: unset;
    width: 100%;
    border: none;
    background-color: $light_grey;
    border-radius: $border_radius;
    @include inputSizing();

    &:focus {
        border: 1px solid $secondary;
    }
}

.input-container {
    margin: 1rem 0rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}