@import 'variables.scss';
@import 'pageview.styles.scss';
@import 'media.queries.scss';

.add-issue {
    padding: 1rem 1.2rem;

    .page-type {
        font-weight: bold;
        font-size: 1.3rem;

        @include lg() {
            font-size: 1.6rem;
        }
    }

    @include lg() {
        width: 100%;
        display: grid;
        place-content: center;

        &>.issue {
            margin-top: 1%;
            padding: 1rem 2rem;
            width: 40rem;
            box-shadow: $shadow;
        }
    }
}

.issue-cta {
    text-align: right;
}