@import 'variables.scss';
@import 'pageview.styles.scss';
@import 'media.queries.scss';

.add-issue {
    padding: 1rem 1.2rem;

    .page-type {
        font-weight: bold;
        font-size: 1.3rem;

        @include lg() {
            font-size: 1.6rem;
        }
    }

    @include lg() {
        display: grid;
        place-content: center;

        &>.issue {
            margin-top: 1%;
            padding: 1rem 2rem;
            width: 40rem;
            box-shadow: $shadow;
        }
    }

    @include lg() {
        .issue-info {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px 10px;
            grid-template-areas:
                ". . . ";
        }
    }
}

.issue-cta {
    text-align: right;
}