@import 'variables.scss';
@import 'pageview.styles.scss';

.mobile {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .mobile-container {
        max-width: 542px;
        width: 100%;
    }
}

.status-group {
    display: flex;
    width: 100%;
    margin: .5rem 0rem;

    :first-child {
        border-top-left-radius: $border_radius;
        border-bottom-left-radius: $border_radius;
    }

    :last-child {
        border-top-right-radius: $border_radius;
        border-bottom-right-radius: $border_radius;
    }

    .status {
        border: 1px solid $background;
        width: 100%;
        padding: 1rem;
        text-align: center;
        background-color: $light_grey;
        cursor: pointer;
        outline: none;
    }

    .status-active {
        background-color: $primary;
        color: $light_text;
        font-weight: bold;
    }
}

.lane {
    height: auto;
    background-color: $light_grey;
    border-radius: $border_radius;
    padding-bottom: 2rem;

    .lane-header {
        display: flex;
        padding: 1rem;

        .lane-title {
            font-weight: bold;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1.3rem;
        }
    }

    .lane-no-item {
        padding: 1rem;
    }
}