@import 'variables.scss';
@import '../styles/media.queries.scss';

@mixin task-card() {
    background-color: $light_text;
    border-radius: $border_radius;
    border: 1px solid darken($light_grey, 15);
    display: flex;
}

@mixin task-status {
    padding: .2rem 1rem;
    border-radius: 25px;
}

.task {
    @include task-card();

    margin-bottom: 1rem;

    .main {
        padding: 1rem;
        width: 100%;
        height: 100%;

        .header {
            display: flex;

            .id {
                width: 100%;
                color: $medium_grey;
                font-weight: bold;
            }

            .menu {
                cursor: pointer;
            }

            .done {
                @include task-status();
                border: 1px solid darken($success, 10);
            }

            .inprogress {
                @include task-status();
                border: 1px solid $dark_primary;
            }

            .todo {
                @include task-status();
                border: 1px solid $secondary;
            }

        }

        .title {
            font-size: 1.2rem;
            margin-top: .5rem;
            margin-bottom: .5rem;
            height: 5rem;
            text-align: left;

            @include md() {
                font-size: 1rem;
            }
        }

        .footer {
            display: flex;

            .deadline {
                width: 100%;

                .text {
                    color: $medium_grey;
                    font-size: .8rem;
                }

                .danger {
                    color: $primary;
                    font-weight: bold;
                }
            }

            .view {
                display: flex;
                align-items: center;
                cursor: pointer;

                &>.material-icons {
                    color: $dark_grey
                }
            }
        }
    }

    .status {
        width: 4rem;
        background-color: $light_grey;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

        .progress {
            border-bottom-right-radius: 10px;
            margin-top: -.1rem;
        }

        .danger {
            background-color: $danger;
        }

        .warning {
            background-color: $warning;
        }

        .success {
            background-color: $success;
        }

        .hundred {
            border-top-right-radius: 10px;
            height: 100%;
        }

        .eighty {
            height: 80%;
        }

        .sixty {
            height: 60%;
        }

        .fifty {
            height: 50%;
        }

        .twenty {
            height: 20%;
        }

        .ten {
            height: 10%;
        }
    }
}

.remove-svg {
    display: none;
}

.task.update {

    @include task-card();
    align-items: center;
    justify-content: center;
    padding: 3rem .5rem;

    .info {
        .icon {
            color: $secondary;
            text-align: center;

            &>.material-icons {
                font-size: 4rem;
            }
        }

        .message {
            text-align: center;
            margin: .1rem;
        }
    }
}